<div class="bg-white">
	<div class="relative isolate overflow-hidden bg-gradient-to-b from-indigo-100/20 pt-20">
		<div class="mx-auto max-w-7xl pb-24 pt-10 sm:pb-32 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8 lg:py-40">
			<div class="px-6 lg:px-0 lg:pt-4">
				<div class="mx-auto max-w-2xl">
					<div class="max-w-lg">
						<h1 class="text-4xl font-bold uppercase tracking-tight text-gray-900 sm:text-5xl">Empower your applications.</h1>
						<p class="mt-6 text-lg leading-8 text-gray-600">
							Apptainer (formerly Singularity) simplifies the creation and execution of containers, ensuring software components are
							encapsulated for portability and reproducibility.
						</p>
						<div class="mt-10 flex items-center gap-x-6">
							<a
								href="/get-started"
								class="rounded-md bg-blue-500 px-3.5 py-2.5 text-sm font-semibold uppercase text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
								Get Started
							</a>
							<a href="https://github.com/apptainer/apptainer" class="text-sm font-semibold uppercase leading-6 text-gray-900">
								View on GitHub <span aria-hidden="true">→</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-20 sm:mt-24 md:mx-auto md:max-w-2xl lg:mx-0 lg:mt-0 lg:w-screen">
				<div
					class="absolute inset-y-0 right-1/2 -z-10 -mr-10 w-[200%] skew-x-[-30deg] bg-white shadow-xl shadow-orange-600/10 ring-1 ring-orange-50 md:-mr-20 lg:-mr-36"
					aria-hidden="true">
				</div>
				<div class="shadow-lg md:rounded-3xl">
					<div class="bg-orange-400 [clip-path:inset(0)] md:[clip-path:inset(0_round_theme(borderRadius.3xl))]">
						<div
							class="absolute -inset-y-px left-1/2 -z-10 ml-10 w-[200%] skew-x-[-30deg] bg-orange-100 opacity-20 ring-1 ring-inset ring-white md:ml-20 lg:ml-36"
							aria-hidden="true">
						</div>
						<div class="relative px-6 pt-8 sm:pt-16 md:pl-16 md:pr-0">
							<div class="mx-auto max-w-2xl md:mx-0 md:max-w-none">
								<div class="w-screen overflow-hidden rounded-tl-xl bg-gray-900">
									<div class="flex bg-gray-800/40 ring-1 ring-white/5">
										<div class="-mb-px flex text-sm font-medium leading-6 text-gray-400">
											<div class="flex px-4 py-2">
												<img class="h-4" src="/close.png" />
												<img class="ml-3 h-4" src="/minimize.png" />
												<img class="ml-3 h-4" src="/full-screen.png" />
											</div>
										</div>
									</div>
									<div class="px-6 pb-14 pt-6 font-mono text-white">
										<p>
											<span class="text-green-500">clint@my-pc</span>:<span class="text-blue-500">~</span>$ apptainer inspect
											ubuntu.sif
										</p>
										<p>org.label-schema.build-arch: amd64</p>
										<p>org.label-schema.build-date: Wednesday_25_January_2023_12:2:15_EST</p>
										<p>org.label-schema.schema-version: 1.0</p>
										<p>org.label-schema.usage.apptainer.version: 1.1.4</p>
										<p>org.label-schema.usage.singularity.deffile.bootstrap: docker</p>
										<p>org.label-schema.usage.singularity.deffile.from: ubuntu:20.04</p>
									</div>
								</div>
							</div>
							<div class="pointer-events-none absolute inset-0 ring-1 ring-inset ring-black/10 md:rounded-3xl" aria-hidden="true"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"></div>
	</div>
</div>
